services:
  kong:
    image: kong:3.9
    container_name: crop-kong-dev
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/kong.yml
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    volumes:
      - ./kong/kong.yml:/kong/kong.yml

  database:
    image: postgres:18
    container_name: crop-database-dev
    env_file:
      - ./database/.env.dev
    ports:
      - "5432:5432"
